*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 90vh;
    background:url('https://source.unsplash.com/1600x900/?computer-software,engineering,software-development,computer-engineering');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    background: rgba(0,0,0,0.2)!important;
    font-weight: bold!important;
    /* font-size: 15px!important; */
}
.headerpart{
    width: 100%;
    height: 91.5%;   
    background: rgba(0,0,0,0.2);
    display: grid;
    place-items: center;
}

#downloads{
    width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%!important;
}
iframe{
    /* height: 90vh!important; */
    width: 90vw;
}

@media (max-width: 768px){
    iframe{
        height: 80vh!important;
    }
    #downloads{
        width: 95vw;

    }
}

@media (min-width:768px){
    iframe{
        margin: 0 50px 0 300px;
        height: 90vh!important;
    }
}